<div class="container content">
  <div class="row">
    <a href="#/schools/">
      <div class="col-md-4 col-sm-6 col-lg-offset-0">
        <div class="service-block service-block-grey2">
          <i class="icon icon-2x color-light fa fa-home"></i>
          <h2 class="heading-md">Schools</h2>
          <p>Create, maintain and view School.</p>
        </div>
      </div>
    </a>
    <a href="#/routes/">
      <div class="col-md-4 col-sm-6 col-lg-offset-0">
        <div class="service-block service-block-green2">
          <i class="icon icon-2x color-light fa fa-map-marker"></i>
          <h2 class="heading-md">Routes</h2>
          <p>Create, maintain and view Routes</p>
        </div>
      </div>
    </a>
    <a href="#/buses/">
      <div class="col-md-4 col-sm-6 col-lg-offset-0">
        <div class="service-block service-block-sky">
          <i class="icon icon-2x color-light fa fa-map-marker"></i>
          <h2 class="heading-md">Buses</h2>
          <p>Create, maintain and view Buses</p>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="#/users/">
      <div class="col-md-4 col-sm-6 col-lg-offset-2 col-md-offset-2">
        <div class="service-block service-block-orange2">
          <i class="icon icon-2x color-light fa fa-user"></i>
          <h2 class="heading-md">Users</h2>
          <p>Create, maintain and view Users</p>
        </div>
      </div>
    </a>
    <a href="#/students/">
      <div class="col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-0">
        <div class="service-block service-block-aqua2">
          <i class="icon icon-2x color-light fa fa-user"></i>
          <h2 class="heading-md">Students</h2>
          <p>Create, maintain and view Students</p>
        </div>
      </div>
    </a>
  </div>
</div>
