<div class="container">
	<ul class="breadcrumb">
		<li><a href="/admin/#/">Management</a></li>
		<li class="active">Schools</li>
	</ul>
	<div class="row">
		<div class="col-md-14">
			<div class="panel panel-green">
				<div class="panel-heading">
					<h3 class="panel-title pull-left" style=""> <i class="fa fa-map-marker"></i> Schools </h3>
					<h3 class="panel-title text-right" style=""> <i class="fa"></i> July 16 2015 - 06:30:00 AM</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-2">
						<a href="#" class="btn btn-primary">
							<i class="fa fa-plus"></i> New School
						</a>
					</div>
					<div class="col-md-2">
						<a href="#" class="btn btn-primary">
							<i class="fa"></i> Filter
						</a>
					</div>
					<div class="col-md-3 text-center" style="margin-top: 7px">
						<span>Administrator: Jennifer Kendall</span>
					</div>
					<div class="col-md-5">
						<input type="search" name="search" value="" placeholder="Search" class="form-control" id="search">
					</div>
				</div>
				<table class="table table-responsive table-hover table-condensed">
					<thead>
						<tr>
							<th class="text-center">School #</th>
							<th class="text-center">School Name</th>
							<th class="text-center">School District</th>
							<th class="text-center">Public<br>Private</th>
							<th class="text-center">Status</th>
							<th class="text-center">Address</th>
							<th class="text-center">City</th>
							<th class="text-center">Calendar<br>Type</th>
							<th class="text-center">Total<br># Students</th>
							<th class="text-center"># Students<br>Transportation</th>
							<th class="text-center">Open Today</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><u>1923432</u></td>
							<td><u>Sample School 1</u></td>
							<td>Broward Country</td>
							<td>Public</td>
							<td>Active</td>
							<td><u>2514 NW 3r Street</u></td>
							<td>Pembroke Pines</td>
							<td>Traditional</td>
							<td class="text-center">2850</td>
							<td class="text-center">1235</td>
							<td><div class="status-late center-block" style="border:3px solid black ; width: 15px; height: 15px"></div></td>
							<td class="text-center">
								<button type="button" class="btn btn-sm btn-default">
									<i class="fa fa-edit"></i> Edit
								</button>
								<button type="button" class="btn btn-sm btn-danger">
									<i class="fa fa-trash"></i> Remove
								</button>
							</td>
						</tr>
						<tr>
							<td><u>1923432</u></td>
							<td><u>Sample School 1</u></td>
							<td>Broward Country</td>
							<td>Public</td>
							<td>Active</td>
							<td><u>2514 NW 3r Street</u></td>
							<td>Pembroke Pines</td>
							<td>Traditional</td>
							<td class="text-center">2850</td>
							<td class="text-center">1235</td>
							<td><div class="status-late-intransit center-block" style="border:3px solid black ; width: 15px; height: 15px"></div></td>
							<td class="text-center">
								<button type="button" class="btn btn-sm btn-default">
									<i class="fa fa-edit"></i> Edit
								</button>
								<button type="button" class="btn btn-sm btn-danger">
									<i class="fa fa-trash"></i> Remove
								</button>
							</td>
						</tr>
						<tr>
							<td><u>1923432</u></td>
							<td><u>Sample School 1</u></td>
							<td>Broward Country</td>
							<td>Public</td>
							<td>Active</td>
							<td><u>2514 NW 3r Street</u></td>
							<td>Pembroke Pines</td>
							<td>Traditional</td>
							<td class="text-center">2850</td>
							<td class="text-center">1235</td>
							<td><div class="status-intransit center-block" style="border:3px solid black ; width: 15px; height: 15px"></div></td>
							<td class="text-center">
								<button type="button" class="btn btn-sm btn-default">
									<i class="fa fa-edit"></i> Edit
								</button>
								<button type="button" class="btn btn-sm btn-danger">
									<i class="fa fa-trash"></i> Remove
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
